{% extends "home/base.html" %}

{% block title %}Add a New Player{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <p><a class="lineup_button" href="/team/player/list.html">⬅ Return to Team</a></p>
  <form action="" method="post">
      {% csrf_token %}
      <div class="player-input">Player Name: {{ form.name }}</div>
      <div class="player-input">Preferred Position: {{ form.preferred_position }}</div>
      <div class="soccer_pitch">
        <table class="soccer_field">
          <tr class="row1">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row2">
            <td class="column2"></td>
            <td class="column3 player">{{ form.is_left_striker }} Left Striker</td>
            <td class="column4"></td>
            <td class="column5 player">{{ form.is_right_striker }} Right Striker</td>
            <td class="column6"></td>
          </tr>
          <tr class="row3">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row4">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4 player">{{ form.is_attacking_mid }} Attacking Mid</td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row5">
            <td class="column2 player">{{ form.is_left_mid }} Left Mid</td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6 player">{{ form.is_right_mid }} Right Mid</td>
          </tr>
          <tr class="row6">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4 player">{{ form.is_stopper }} Defensive Mid</td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row7">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row8">
            <td class="column2"></td>
            <td class="column3 player">{{ form.is_center_back }} Left CB</td>
            <td class="column4"></td>
            <td class="column5 player">{{ form.is_sweeper }} Right CB</td>
            <td class="column6"></td>
          </tr>
          <tr class="row9">
            <td class="column2 player">{{ form.is_left_full }} Left Back</td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6 player">{{ form.is_right_full }} Right Back</td>
          </tr>
          <tr class="row10">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row11">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4 player">{{ form.is_goalie }} Goalie</td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row12">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
        </table>
      </div>
      <input class="lineup_button" type="submit" value="Add Player">
  </form>
{% endblock %}