{% extends "home/base.html" %}

{% block title %}Add a New Player{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <p><a class="lineup_button" href="/team/player/list.html">⬅ Return to Team</a></p>
  <form action="" method="post">
      {% csrf_token %}
      <div class="player-input"><strong>Player Name:</strong> {{ form.name }}</div>

      <p>&nbsp;</p>

      <p><em>For the preferred position, choose the position on the field the player most enjoys playing. If
        the player does not have a preferred position, choose one for them. As a general rule, try not
        to have too many players on your roster with the same preferred position, as it makes substitution
        strategies a challenge.</em></p>

      <div class="player-input"><strong>Preferred Position:</strong> {{ form.preferred_position }}</div>

      <p>&nbsp;</p>

      <p><em>Below, indicate the positions on the field the player is able to play by clicking on the check boxes.
        As a general rule, the more positions you specify, the better it is when it comes to figuring out substitution
        strategies.</em></p>

      <div class="soccer_pitch">
        <table class="soccer_field">
          <tr class="row1">
            <td class="column1"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="column7"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"><span class="player_name">{{ form.is_left_striker }} Left Striker</span></td>
            <td class="column4"></td>
            <td class="column5"><span class="player_name">{{ form.is_right_striker }} Right Striker</span></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="spacer_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"><span class="player_name">{{ form.is_attacking_mid }} Attacking Mid</span></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"><span class="player_name">{{ form.is_left_mid }} Left Mid</span></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"><span class="player_name">{{ form.is_right_mid }} Right Mid</span></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"><span class="player_name">{{ form.is_stopper }} Defensive Mid</span></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="spacer_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"><span class="player_name">{{ form.is_left_full }} Left Back</span></td>
            <td class="column3"><span class="player_name">{{ form.is_center_back }} Left Center Back</span></td>
            <td class="column4"></td>
            <td class="column5"><span class="player_name">{{ form.is_sweeper }} Right Center Back</span></td>
            <td class="column6"><span class="player_name">{{ form.is_right_full }} Right Back</span></td>
            <td class="left_border"></td>
          </tr>
          <tr class="spacer_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="spacer_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="left_corner"></td>
            <td class="top_border"></td>
            <td class="right_corner"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="left_border"></td>
            <td class="column4"><span class="player_name">{{ form.is_goalie }} Goalie</span></td>
            <td class="right_border"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="last_row">
            <td></td>
            <td class="end_line"></td>
            <td class="end_line"></td>
            <td class="end_line"></td>
            <td class="end_line"></td>
            <td class="end_line"></td>
            <td></td>
          </tr>
        </table>
      </div>
      <input class="lineup_button" type="submit" value="Add Player">
  </form>
{% endblock %}