{% extends "home/base.html" %}

{% block title %}Soccer Lineup Generator FAQs{% endblock %}

{% block content %}

<h3 class="pb-4">Frequently Asked Questions </h3>

<div class="accordion" id="accordionPanelsStayOpenExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading1">
      <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false" aria-controls="panelsStayOpen-collapse1">
        How does it work?
      </button>
    </h2>
    <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading1">
      <div class="accordion-body">
        Once you set up your team, you can generate lineups. For eah game, you indicate which of your players are
        present, who is playing in goal, and we figure out the lineups to ensure all outfield player get equal playing
        time.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading2">
      <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
        All outfield players get equal playing time, but what about the goalies?
      </button>
    </h2>
    <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading2">
      <div class="accordion-body">
        Players who volunteer to play some of the game in goal will end up with more playing time that players who
        only play in outfield positions. We take this approach to both express appreciation for those players who
        volunteer to play in goal, as well as to acknowledge that often playing in goal is less "involved" than playing
        in the outfield positions.
      </div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading3">
      <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
        Is there any cost for using this website?
      </button>
    </h2>
    <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading3">
      <div class="accordion-body">
        There is absolutely no cost for using this website.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading4">
      <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
        Do you sell or share my data?
      </button>
    </h2>
    <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading4">
      <div class="accordion-body">
        No. I did not create this website to make money. I created it because I was spending hours to ensure equal
        playing me for my teams, and thought others might find it useful. The data you enter here is yours, and I will
        not share it with anyone.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading5">
      <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapse5">
        If I have an account, and my team's other coaches also have accounts, can we share our team across these
        accounts?
      </button>
    </h2>
    <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading5">
      <div class="accordion-body">
        Not at this time. If I get enough requests for that capability, I will add it.
      </div>
    </div>
  </div>

</div>
{% endblock %}