{% extends "home/base.html" %}
{% block title %}Soccer Lineup Generator FAQs{% endblock %}
{% block content %}
  <h3 class="pb-4">Frequently Asked Questions</h3>

  <div class="accordion" id="accordionPanelsStayOpenExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading1">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false" aria-controls="panelsStayOpen-collapse1">
          How does it work?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading1">
        <div class="accordion-body">
          Once you set up your team, you can generate lineups. For each game, you indicate which of your players are
          present, who is playing in goal, and we figure out the lineups to try to get all outfield player as close as
          possible to equal playing time.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading7">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse7" aria-expanded="false" aria-controls="panelsStayOpen-collapse7">
          Do you guarantee equal playing time?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading7">
        <div class="accordion-body">
          No, but we get it as close as possible. Sometimes it's not practical to get exactly equal playing time.
          For instance, to get exactly equal playing time may require so many substitutions that players would not be
          able to get into any "flow" while playing. In such cases, we balance the need for equal playing time with the
          need to have a "reasonable" substitution strategy.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading2">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
          All outfield players get equal playing time, but what about the goalies?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading2">
        <div class="accordion-body">
          Players who volunteer to play some of the game in goal will end up with more playing time that players who
          only play in outfield positions. We take this approach to both express appreciation for those players who
          play in goal, and to acknowledge that often playing in goal is less physically demanding than playing in the
          outfield positions.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading3">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
          Is there any cost for using this website?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading3">
        <div class="accordion-body">
          There is no cost for using this website.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading4">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
          Do you sell or share my data?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading4">
        <div class="accordion-body">
          No. The data you enter here is yours, and I will not share it with anyone.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading5">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapse5">
          If I have an account, and my team's other coaches also have accounts, can we share our team across these
          accounts?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading5">
        <div class="accordion-body">
          Not at this time. If I get enough requests for that capability, I will add it.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading6">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false" aria-controls="panelsStayOpen-collapse6">
          After I create a player, can I edit their name?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading6">
        <div class="accordion-body">
          Not at this time. Please delete that player, and then add a new player.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading8">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse8" aria-expanded="false" aria-controls="panelsStayOpen-collapse8">
          The only choice for team size is 11 players. My team has a different number of players. How can I generate
          lineups?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse8" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading8">
        <div class="accordion-body">
          Let me know and I'll add your number of players to the options.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading9">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse9" aria-expanded="false" aria-controls="panelsStayOpen-collapse9">
          The only choice for team formation is 4-4-2, with a diamond in midfield. My team uses a different formation.
          How can I choose a different formation?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse9" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading9">
        <div class="accordion-body">
          Let me know and I'll add your formation to the options.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading10">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false" aria-controls="panelsStayOpen-collapse10">
          The only choice for half duration is 35 minutes. My team has a different number of minutes in each half. How
          can I choose a different half duration?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading10">
        <div class="accordion-body">
          Let me know and I'll add your half duration to the options.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading11">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse11" aria-expanded="false" aria-controls="panelsStayOpen-collapse11">
          What are the options for goalie substitutions?
        </button>
      </h2>
      <div id="panelsStayOpen-collapse11" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading11">
        <div class="accordion-body">
          For now, goalies can only be substituted at half time. That is, you can specify a goalie for the first half
          and a goalie for the second half. You can have the same player in goal for both halves.
        </div>
      </div>
    </div>


  </div>
{% endblock %}