{% extends "home/base.html" %}
{% load static %}
{% block title %}Soccer Lineup Generator Home Page{% endblock %}
{% block content %}
        <h3 class="pb-4">Soccer Lineup Generator</h3>
        <p>As a soccer coach, do you struggle to ensure everyone gets <b>equal playing time</b>?
            <br>If so, this website generates a plan where each outfield player gets the same playing time.</p>

        <table>
            <tr>
                <td>
                    <a href="/lineup/generate.htm"><img src="{% static 'images/lineup.png' %}" class="shadow-lg roundedmy-3"></a>
                </td>
                <td>
                    <a href="/team/player/list.html"><img src="{% static 'images/team.png' %}" class="shadow-lg rounded mx-5 my-3"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/lineup/generate.htm" class="nav-link text-center text-success h4">Generate Lineup</a>
                </td>
                <td>
                    <a href="/team/player/list.html" class="nav-link text-center text-success h4">Team Settings</a>
                </td>
            </tr>
        </table>
{% endblock %}