{% extends "home/base.html" %}

{% block title %}Previous Lineups{% endblock %}

{% block content %}
    <table class="roster-list text-nowrap">
        <thead>
            <tr>
                <th id="leftmost-cell">Opponent</th>
                <th>Date</th>
                <th>Team Size</th>
                <th>Team Formation</th>
                <th id="rightmost-cell">Players Present</th>
            </tr>
        </thead>
        <tbody>
            {% for lineup in lineups %}
                <tr>
                    <td id="leftmost-cell"><a href="/lineups/{{ lineup.game_id }}/view_lineup.html">{{ lineup.opponent }}</a></td>
                    <td>{{ lineup.game_date }}</td>
                    <td>{{ lineup.team_size }}</td>
                    <td>{{ lineup.team_formation }}</td>
                    <td>{{ lineup.num_players }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}