{% extends "home/base.html" %}

{% block title %}Generate a Lineup{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form action="" method="post">
      {% csrf_token %}
      {{ team.team_name }}
      {{ team.half_duration }}
      {{ team.team_size }}
      {{ form.as_p }}
      <input class="lineup_button" type="submit" value="Generate Lineup">
  </form>
{% endblock %}