{% extends "home/base.html" %}

{% block title %}Generate a Lineup{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm">
                {{ form.opponent.label_tag }} <br />{{ form.opponent }}
            </div>
            <div class="col-sm">
                {{ form.game_date.label_tag }} <br />{{ form.game_date }}
            </div>
            <div class="col-sm">
                {{ form.team_formation.label_tag }} <br />{{ form.team_formation }}
            </div>
        </div>

        <p class="pt-5">Players present:</p>
        <div class="row">
            {% for player in players %}
                <div class="col-3">
                    <input type="checkbox" id="{{ player.name }}" name="{{ player.name }}" value="{{ player.name }}">
                    <label for="{{ player.name }}">{{ player.name }}</label>
                </div>
            {% endfor %}
        </div>

        <div class="row pt-5">
            <div class="col-sm">
                {{ form.first_goalie.label_tag }} <br />{{ form.first_goalie }}
            </div>
            <div class="col-sm">
                {{ form.second_goalie.label_tag }} <br />{{ form.second_goalie }}
            </div>
            <div class="col-sm">
            </div>
        </div>

        <div class="pt-5">
            <input class="lineup_button" type="submit" value="Generate Lineup">
        </div>
    </form>
{% endblock %}