{% extends "home/base.html" %}

{% block title %}View a Lineup{% endblock %}

{% block content %}
    <p><strong>{{ lineup.team_name }}</strong> against <strong>{{ lineup.opponent }}</strong> on <strong>{{ lineup.game_date }}</strong></p>
    {% for position in positions %}
      <p>Minute: {{ position.0 }}</p>
      <div class="soccer_pitch">
        <table class="soccer_field">
          <tr class="row1">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row2">
            <td class="column2"></td>
            <td class="column3 player"><span style="color: yellow">Left Striker:<br />{{ position.10 }}</span></td>
            <td class="column4"></td>
            <td class="column5 player"><span style="color: yellow">Right Striker:<br />{{ position.11 }}</span></td>
            <td class="column6"></td>
          </tr>
          <tr class="row3">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row4">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4 player"><span style="color: yellow">Attacking Mid:<br />{{ position.8 }}</span></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row5">
            <td class="column2 player"><span style="color: yellow">Left Mid:<br />{{ position.6 }}</span></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6 player"><span style="color: yellow">Right Mid:<br />{{ position.9 }}</span></td>
          </tr>
          <tr class="row6">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4 player"><span style="color: yellow">Defensive Mid:<br />{{ position.7 }}</span></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row7">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row8">
            <td class="column2"></td>
            <td class="column3 player"><span style="color: yellow">Left Center:<br />{{ position.3 }}</span></td>
            <td class="column4"></td>
            <td class="column5 player"><span style="color: yellow">Right Center:<br />{{ position.4 }}</span></td>
            <td class="column6"></td>
          </tr>
          <tr class="row9">
            <td class="column2 player"><span style="color: yellow">Left Back:<br />{{ position.2 }}</span></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6 player"><span style="color: yellow">Right Back:<br />{{ position.5 }}</span></td>
          </tr>
          <tr class="row10">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row11">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4 player"><span style="color: yellow">Goalie:<br />{{ position.1 }}</span></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
          <tr class="row12">
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
          </tr>
        </table>
      </div>
    {% endfor %}
{% endblock %}