{% extends "home/base.html" %}

{% block title %}View a Lineup{% endblock %}

{% block content %}
    {% for position in positions %}
      <p>{{ lineup.team_name }} against {{ lineup.opponent }} on {{ lineup.game_date }}
      <br /><strong>Minute: {{ position.0 }}</strong></p>
      <div class="soccer_pitch">
        <table class="soccer_field">
          <tr class="row1">
            <td class="column1"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="column7"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"><span class="player_position">Left Striker:</span>
              <br /><span class="player_name">{{ position.10 }}</span></td>
            <td class="column4"></td>
            <td class="column5"><span class="player_position">Right Striker:</span>
              <br /><span class="player_name">{{ position.11 }}</span></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="spacer_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"><span class="player_position">Attacking Mid:</span>
              <br /><span class="player_name">{{ position.8 }}</span></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"><span class="player_position">Left Mid:</span>
              <br /><span class="player_name">{{ position.6 }}</span></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"><span class="player_position">Right Mid:</span>
              <br /><span class="player_name">{{ position.9 }}</span></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"><span class="player_position">Defensive Mid:</span>
              <br /><span class="player_name">{{ position.7 }}</span></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="spacer_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"><span class="player_position">Left Back:</span>
              <br /><span class="player_name">{{ position.2 }}</span></td>
            <td class="column3"><span class="player_position">Left Center:</span>
              <br /><span class="player_name">{{ position.3 }}</span></td>
            <td class="column4"></td>
            <td class="column5"><span class="player_position">Right Center:</span>
              <br /><span class="player_name">{{ position.4 }}</span></td>
            <td class="column6"><span class="player_position">Right Back:</span>
              <br /><span class="player_name">{{ position.5 }}</span></td>
            <td class="left_border"></td>
          </tr>
          <tr class="spacer_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="spacer_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="left_corner"></td>
            <td class="top_border"></td>
            <td class="right_corner"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="player_row">
            <td class="right_border"></td>
            <td class="column2"></td>
            <td class="left_border"></td>
            <td class="column4"><span class="player_position">Goalie:</span>
              <br /><span class="player_name">{{ position.1 }}</span></td>
            <td class="right_border"></td>
            <td class="column6"></td>
            <td class="left_border"></td>
          </tr>
          <tr class="last_row">
            <td></td>
            <td class="end_line"></td>
            <td class="end_line"></td>
            <td class="end_line"></td>
            <td class="end_line"></td>
            <td class="end_line"></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="page_break"> </div>
    {% endfor %}
{% endblock %}